**/node_modules
**/dist
**/build
**/.output
**/.turbo
**/coverage
**/.vite
**/playwright-report
**/test-results

.git
.github
.vscode
.idea

**/.env
**/.env.*
!**/.env.example

**/*.log
**/npm-debug.log*
**/pnpm-debug.log*

Dockerfile
**/Dockerfile
**/.dockerignore
README.md
docs
